*
!*/
!.gitignore
!README.md
!/mods/**
/mods/hats/**
!/scripts/**
!/local/**
/local/client/**
/local/ftbutilities/*.html
/local/ftbutilities/*.txt
!/config/**
!/journeymap/**
/journeymap/data/**
/journeymap/colorpallete.html
/journeymap/journeymap.log
!/options.txt
!/optionsof.txt
