*
!*/
!.gitignore
!README.md
!/mods/**
/mods/hats/**
!/scripts/**
!/local/**
/local/client/**
/local/ftbutilities/*.html
/local/ftbutilities/*.txt
!/config/defaultoptions/**
!/config/aether/**
!/config/twilightforest.cfg
!/config/chisel.cfg
!/config/harvestcraft.cfg
!/config/immersiveengineering.cfg
!/config/chisel.cfg
!/config/roguelike_dungeons/**
!/config/theoneprobe.cfg
!/config/jei/**
!/config/InvTweaks.cfg
!/config/InveTweaksRules.txt
!/config/InvTweaksTree.txt
!/config/morph.cfg
!/config/modnametooltip.cfg
!/config/quark.cfg
!/config/techguns.cfg
!/config/forestry/**
!/journeymap/**
/journeymap/data/**
/journeymap/colorpallete.html
/journeymap/journeymap.log
